<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Agregar Factura</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>id_cliente</label>
            <input type="text"
            class="form-control"
            id="id_cliente"
            name="id_cliente"
            [(ngModel)] = factura.id_cliente>
        </div>
        <div class="form-group">
            <label>fecha</label>
            <input type="text"
            class="form-control"
            id="fecha"
            name="fecha"
            [(ngModel)] = factura.fecha>
        </div>
        <button class="btn btn-success">Guardar</button>
    </form>
</div>

